<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Stitch</title>
    </head>

    <body>
        <h1>Garfield says:</h1>

        <div>
            Holi! <br />

            <!--  boldmessage is a Django template variable. We can set values to these variables so they are replaced with whatever we want -->
            <!-- To use this template, we need to reconfigure the index() view that we created earlier. Instead of dispatching a simple response (osea la funcion q retorna el string "Rango says hey there partner!", we will change the view to dispatch our template. -->
            <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>
            <a href="/rango/index/">Index</a><br />
            <img src="/media/cat.jpg"
                alt="Picture of Garfield" /> <!-- calling static will combine the URL specified in STATIC_URL (q es creado automaticamente cuando se crea un proyecto django) with images/rango.jpg to yield /static/images/rango.jpg. -->
        </div>
    </body>

</html>